@{
    ViewData["Title"] = "Detay";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<div class="hero-wrap" style="background-image: url('/royalestate-master/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Anasayfa</a></span> <span>Emlak Detay</span></p>
                <h1 class="mb-3 bread">Emlak Detay</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">

                    @await Component.InvokeAsync("DetailImagesComponentPartial", new { id = ViewBag.id })
                    @await Component.InvokeAsync("DetailEstateDetailComponentPartial", new { id = ViewBag.id })
                </div>

            </div> <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar ftco-animate">
                @await Component.InvokeAsync("DetailCategoriesComponentPartial")
                @await Component.InvokeAsync("DetailTagColudsComponentPartial", new { id = ViewBag.id })
                @*  <div class="sidebar-box ftco-animate">
                <h3>Paragraph</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                </div> *@
            </div>
        </div>
    </div>
</section> <!-- .section -->
@await Component.InvokeAsync("HomeLast4PropertyComponentPartial")
@await Component.InvokeAsync("HomeNewsletterComponentPartial")

