@model List<DapperTest.Dtos.SliderDtos.ResultSliderDto>
@{
    ViewData["Title"] = "SliderList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<div class="container">
    <h1>Slider Item Listesi</h1>
    <hr />
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Resim</th>
            <th>Başlık</th>
            <th>Durumu</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            //deneme
            count++;
            <tr>
                <td>@count</td>
                <td>@item.ImageUrl</td>
                <td>@item.Title</td>
                <td>@item.Status</td>
                <td><a href="/AdminSlider/DeleteSlider/@item.SliderId">Sil</a></td>
                <td><a href="/AdminSlider/UpdateSlider/@item.SliderId">Güncelle</a></td>
            </tr>
        }
    </table>
    <div class="row">
        <a href="/AdminSlider/CreateSlider/">+ Yeni Slider Item Oluştur</a>
    </div>
</div>

