@model DapperTest.Dtos.TestimonialDtos.GetByIdTestimonialDto
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Referans Oluştur</h1>
            <hr />
            <form method="post">
                <input type="hidden" asp-for="TestimonialId" />
                <div class="form-group my-3">
                    <label>Resim Url</label>
                    <input type="text" asp-for="ImageUrl" class="form-control" />
                </div>
                <div class="form-group my-3">
                    <label>Başlık</label>
                    <input type="text" asp-for="Title" class="form-control" />
                </div>
                <div class="form-group my-3">
                    <label>Adı Soyadı</label>
                    <input type="text" asp-for="FullName" class="form-control" />
                </div>
                <div class="form-group my-3">
                    <label>Yorum</label>
                    <input type="text" asp-for="Description" class="form-control" />
                </div>
                <div class="form-group my-3">
                    <button class="btn btn-info">Oluştur</button>
                </div>
            </form>
        </div>
    </div>
</div>

