
<div class="sidebar-box ftco-animate">
    <div class="categories">
        <h3>Kategoriler</h3>

            <li><a href="#">Properties <span>(12)</span></a></li>
            <li><a href="#">Home <span>(22)</span></a></li>
            <li><a href="#">House <span>(37)</span></a></li>
            <li><a href="#">Villa <span>(42)</span></a></li>
            <li><a href="#">Apartment <span>(14)</span></a></li>
            <li><a href="#">Condominium <span>(140)</span></a></li>
    </div>
</div>
