@model List<DapperTest.Dtos.CategoryDtos.ResultCategoryWithCount>

<div class="sidebar-box ftco-animate">
    <div class="categories">
        <h3>Kategoriler</h3>
        @foreach (var item in Model)
        {
            <li><a href="#">@item.CategoryName <span>(@item.Count)</span></a></li>
        }
    </div>
</div>
